# --- Gestione Audio e Segnale ---
pyaudio             # Cattura l'audio live dal jack/scheda audio (forse da buttare)
numpy               # Calcoli matematici per lo Squelch/VAD      (forse da buttare)
pydub               # Manipolazione file audio (salvataggio log)

torch               # Per tutta la parte dedicata ad usare Silero VAD
torchaudio
silero-vad

# --- Intelligenza Artificiale ---
faster-whisper      # Trascrizione ultra-veloce ottimizzata per NVIDIA
ollama              # Client per comunicare con il modello Llama locale

# --- Utility ---
python-dotenv       # Per gestire eventuali chiavi o configurazioni